
#header {
text-align: center;}

#slides {
    text-align: center;
    height: 750px;
}

#buttons {
	text-align: center;
    margin-top: 10px;
    padding-top: 2em;
}

#next {
    width: 75px;
}

#previous {
    width: 75px;
}

#check {
    text-align: center;
}

#footer {
    text-align: center;
}