#wrap {
    width: 500px;
    margin: 3em auto;
    padding: 20px;
    background-color: darkgray;
    border-radius: 10px;
}

fieldset {
    border-radius: 10px;
}

#presentation {
    text-align: center;
    height: 425px;
}

#buttons {
    margin-top: 10px;
    padding-top: 2em;
}

#next {
    float: right;
    width: 75px;
}

#previous {
    width: 75px;
}

#check {
    text-align: center;
}

#footer {
    text-align: center;
}