body {
 background-image:url("http://www.planwallpaper.com/static/images/3d-widescreen-wallpaper-5.jpg");
}

.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.clear {
clear:both;
}

.white, .black {
 border: 1px solid black;
 width: 10%;
 height: 60px;
 float:left;
}

.white{
background-color: white;
}
 
.black{
 background-color:#787878;

}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color: #6A696C;
 text-align:center; 
 z-index:10;
}

h1 { 
   font-family: 'AvaraBold'; 
   font-weight: normal; 
   font-style: normal; 
  fint-size: 36px;
}

img {
 margin-left: 5px;
 margin-top:10px;
 }

#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#footer {
 border:solid 1px;
 padding: 10px;
 margin:10px;
  text-align:center;
   background-color: #6A696C;
}