			* {
				font-family: Arial, Verdana, sans-serif;
				color: #bf9bd9;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #8b888e;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #961Cf1;}
.column1 {
  background-color: #6ff046;
}
.column2 {
  background-color: #bf46f0;
}
.column3 {
 background-color: #f04646;
}